<section class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="widget wviolet">
                    <div ht-widget-header title="{{vm.title}}"></div>
                    <div class="widget-content user">
                        <p>Сортировка:
                            <select ng-options="i.sortName for i in vm.sortTypes" 
                                    ng-model="vm.selectedSortType" ng-change='vm.changeSort()'></select>
                        </p>
                        <table class="tableaward" ng-show="vm.awards.length > 0">
                            <thead>
                            <tr>
                                <td>&nbsp;</td>
                                <td>Награда</td>
                                <td class="tableaward-nominations">Номинации / </td>
                                <td class="tableaward-contests">&nbsp;Конкурсы</td>
                                <td>Годы</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="award in vm.awards">
                                <td class="award-icon"><img ng-src='{{award.awardIconUrl}}' alt=''></td>
                                <td>
                                    <a ui-sref="awardsview({ awardId: award.id })">{{award.fullName}}</a>
                                    <br>
                                    <span>
                                        <img class="country-icon" ng-src='{{award.countryUrl}}' alt=''>
                                        <span>{{award.countryName}}</span>
                                    </span>
                                </td>
                                <td>{{award.nominationsCount}}</td>
                                <td>{{award.contestsCount}}</td>
                                <td>
                                    <img ng-src="{{award.awardClosedUrl}}" alt=''>
                                    <span>{{award.firstAwardYear}} - {{award.lastAwardYear}}</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
