body {
  font-family: Verdana;
  font-size: 8pt;
  line-height: 1.3;
}

a {
  text-decoration: none;
}

.tableaward {
  border-spacing: 0px;
  width: 100%;
}

.tableaward td {
  padding: 4px;
}

.tableaward thead tr {
  background-color: #F9FAFB;
}

.tableaward thead td {
  border-top: 1px solid #D8E1E6;
  border-bottom: 1px solid #D8E1E6;
}

.awardtitle {
  background-color: #E0E8F0;
  font-weight: bold;
}

.awardtitle td {
    border-top:1px solid black;
    width: 100%;
}

.tableaward tbody tr {
    height: 25px;
    vertical-align: middle;
}

.tableaward tbody td {
    border-bottom: 1px solid #D2E0E8;
}

.tableaward .award-icon img {
  max-width: 30px;
  height: 30px;
}

.tableaward-nominations {
  white-space: nowrap;
  padding-right: 0px;
}

.tableaward-contests {
  padding-left: 0px;
}