<section class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="widget wviolet">
                    <div ht-widget-header title="{{vm.title}}"></div>
                    <div class="widget-content user">
                        <table class="work-info">
                            <tr>
                                <td>Id:</td>
                                <td>{{vm.work.workid}}</td>
                            </tr>
                            <tr>
                                <td>Название:</td>
                                <td>
                                    {{vm.work.rusname}}
                                    <span ng-if="vm.work.name.length > 0">/ {{vm.work.name}}</span>
                                    <span ng-if="vm.work.altname.length > 0" class="altnames">({{vm.work.altname}})</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Авторы</td>
                                <td>
                                    <a ng-repeat="person in vm.work.persons" class="author" ui-sref="personsview({ personId: person.personid })">
                                        {{person.name}}
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Жанр:</td>
                                <td>
                                    {{vm.work.worktypename}}
                                    <span ng-if="vm.work.notfinished || !vm.work.publishtype || vm.work.inplans" class="work-not-published">
                                        (<span ng-if="vm.work.notfinished">не закончен</span>
                                        <span ng-if="!vm.work.publishtype">не опубликован</span>
                                        <span ng-if="vm.work.inplans">в планах автора</span>)
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>Год:</td>
                                <td>{{vm.work.year}}</td>
                            </tr>
                            <tr>
                                <td>Описание:</td>
                                <td>{{vm.work.description}}</td>
                            </tr>
                            <tr>
                                <td>Переводы:</td>
                                <td>
                                    <p ng-repeat="translation in vm.work.translations" class="translators">
                                        <a ng-repeat="person in translation.translators" ui-sref="personsview({ personId: person.person_id })">{{person.name}}</a>
                                        (<span ng-repeat="name in translation.names">{{name}}</span>)
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>Содержание:</td>
                                <td>NOT IMPLEMENTED YET</td>
                            </tr>
                            <tr>
                                <td>Премии:</td>
                                <td>
                                    <b>Победы</b>
                                    <p ng-repeat="awarditem in vm.work.awards | filter: {contestworkiswinner: true}" class="award-item">
                                        <img src="https://data.fantlab.ru/images/awards/icons/{{awarditem.awardid}}_icon"/>
                                        <a ui-sref="awardsview({ awardId: awarditem.awardid })">{{awarditem.awardrusname}}</a>
                                        (<span>{{awarditem.contestname}}</span>)
                                        // <span>{{awarditem.nominationrusname}}</span>
                                    </p>
                                    <b>Номинации</b>
                                    <p ng-repeat="awarditem in vm.work.awards | filter: {contestworkiswinner: false}" class="award-item nominations">
                                        <img src="https://data.fantlab.ru/images/awards/icons/{{awarditem.awardid}}_icon" />
                                        <a ui-sref="awardsview({ awardId: awarditem.awardid })">{{awarditem.awardrusname}}</a>
                                        (<span>{{awarditem.contestname}}</span>)
                                        // <span>{{awarditem.nominationrusname}}</span>
                                    </p>
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <hr />
                        <table style="width: 50%">
                            <tr ng-repeat="edition in vm.work.editions">
                                <td><img ng-src="http://data.fantlab.org/images/editions/big/{{edition.editionid}}"></td>
                                <td><a href="/editions/{{edition.editionid}}">{{edition.name}}</a></td>
                                <td>{{edition.year}}</td>
                                <td>{{edition.seriesort}}</td>
                                <td>{{edition.correct}}</td>
                            </tr>
                        </table>
                        <hr/>
                        <hr />
                        <table style="width: 50%">
                            <tr ng-repeat="review in vm.work.reviews">
                                <td>{{review.text}}</td>
                                <td>{{review.reviewrating}}</td>
                                <td>{{review.datecreated}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
