<section class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="widget wviolet">
                    <div class="person-show reset">
                        <div class="main-info-block">
                            <h2 class="main-info-header allow-toggle">
                                <span>{{::vm.person.name}}</span>
                            </h2>
                            <div class="main-info-detail">
                                <img class="imgright" ng-src="{{::vm.person.personimageurl}}" alt="{{::vm.person.name}}">
                                <table class="person-info-top-info">
                                    <tr>
                                        <td>Страна:</td>
                                        <td><img ng-src="{{::vm.person.countryimageurl}}"/>&nbsp;{{::vm.countries[vm.person.countryid]}}</td>
                                    </tr>
                                    <tr ng-if="vm.person.birthdate">
                                        <td>Дата рождения:</td>
                                        <td ng-bind="::vm.person.birthdate"></td>
                                    </tr>
                                    <tr ng-if="vm.person.deathdate">
                                        <td>Дата смерти:</td>
                                        <td ng-bind="::vm.person.deathdate"></td>
                                    </tr>
                                    <tr>
                                        <td>Жанры:</td>
                                        <td>
                                            <span ng-repeat="genre in ::vm.person.genres">{{genre.name}} ({{genre.genrecount}} из {{genre.genretotal}}){{$last ? '' : ', '}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Псевдонимы:</td>
                                        <td>NOT IMPLEMENTED YET</td>
                                    </tr>
                                </table>

                                <div class="person-info-bio paragraph-block clearfix">
                                    <p>{{::vm.person.biography}}</p>
                                </div>
                                <p ng-if="vm.person.biographysource" class="person-info-bio-copyright">© {{::vm.person.biographysource}}</p>
                                <div ng-if="vm.person.notes" class="person-info-bio-notes">
                                    <h3>Примечание к биографии:</h3>
                                    <div ng-bind="::vm.person.notes"></div>
                                </div>

                                <div class="person-info-awards">
                                    <h3>Последние награды и премии:</h3>
                                    <div>
                                        <table>
                                            <tr class="{{award.contestworkiswinner === true ? 'award-nom' : ''}} {{award.awardisopened !== true ? 'cw_nomi2' : ''}}" ng-repeat="award in vm.person.awards">
                                                <td><img ng-src="{{award.awardicon}}" title="{{award.awardfullname}}" alt=""></td>
                                                <td>
                                                    <a ui-sref="awardsview({ awardId: award.awardid })">{{award.awardfullname}}</a>
                                                    <span>{{award.nominationfullname}} {{award.contestworkprefix}} {{award.contestworkpostfix}}</span>
                                                    <span ng-if="award.contestworkrusname.length > 0 || award.contestworkname.length > 0">
                                                        <br>→ 
                                                        <a ng-if="award.contestworkrusname.length > 0" ui-sref="awardsview({ awardId: award.awardid })">{{award.contestworkrusname}}</a>
                                                        <span ng-if="award.contestworkrusname.length > 0 && award.contestworkname.length > 0"> / </span>
                                                        <a ng-if="award.contestworkname.length > 0" ui-sref="awardsview({ awardId: award.awardid })">{{award.contestworkname}}</a>
                                                    </span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="person-info-award-advanced">› <a href="/<%= $person_info->{type} %><%= $person_info->{id} %>/awards">все премии и номинации</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="sorting-panel">
                            Сортировка:
                            <select ng-options="i.sortName for i in vm.sortTypes" ng-model="vm.selectedSortType" ng-change='vm.changeSort()'></select>
                        </div>
                        <div class="autor-works" data-evaluation-size="3" data-comments-size="0">
                            <div class="work-type-section plans-author">
                                <h2><span>{{::vm.person.name}}.</span> <span>Планы автора</span><span class='rating-title'>Рейтинг</span></h2>
                                <ul class="works-list">
                                    <personwork ng-repeat="work in vm.person.worksinplans" data-work="work" data-worktype="vm.worktypes[work.worktypelevel]" data-level="1"></personwork>
                                </ul>
                            </div>
                            <div ng-repeat="worktype in vm.person.works" class="work-type-section">
                                <h2><span>{{::vm.person.name}}.</span> <span>{{ ::vm.worktypes[worktype[0].worktypelevel].name }}</span><span class='rating-title'>Рейтинг</span></h2>
                                <ul class="works-list {{vm.worktypes[worktype[0].worktypelevel].isnode ? 'worktypenode' : 'worktypeplain'}}">
                                    <personwork ng-repeat="work in worktype | orderBy:vm.orderByDefinition" data-work="work" data-worktype="vm.worktypes[work.worktypelevel]" data-level="1"></personwork>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</section>
