<section class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="widget wviolet">
                    <div class="person-show reset">
                        <div class="main-info-block">
                            <h2 class="main-info-header allow-toggle">
                                <span>{{::vm.person.name}}</span>
                            </h2>
                            <div class="main-info-detail">
                                <img class="imgright" ng-src="{{::vm.person.personimageurl}}" alt="{{::vm.person.name}}">
                                <table class="person-info-top-info">
                                    <tr>
                                        <td>Страна:</td>
                                        <td><img ng-src="{{::vm.person.countryimageurl}}"/>&nbsp;{{::vm.countries[vm.person.countryid]}}</td>
                                    </tr>
                                    <tr ng-if="vm.person.birthdate">
                                        <td>Дата рождения:</td>
                                        <td ng-bind="::vm.person.birthdate"></td>
                                    </tr>
                                    <tr ng-if="vm.person.deathdate">
                                        <td>Дата смерти:</td>
                                        <td ng-bind="::vm.person.deathdate"></td>
                                    </tr>
                                </table>

                                <div class="person-info-bio paragraph-block clearfix">
                                    <p>{{::vm.person.biography}}</p>
                                </div>
                                <p ng-if="vm.person.biographysource" class="person-info-bio-copyright">© {{::vm.person.biographysource}}</p>
                                <div ng-if="vm.person.notes" class="person-info-bio-notes">
                                    <h3>Примечание к биографии:</h3>
                                    <div ng-bind="::vm.person.notes"></div>
                                </div>
                            </div>
                        </div>
                        <div class="sorting-panel">
                            Сортировка:
                            <select ng-options="i.sortName for i in vm.sortTypes" ng-model="vm.selectedSortType" ng-change='vm.changeSort()'></select>
                        </div>
                        <div class="autor-works" data-evaluation-size="3" data-comments-size="0">
                            <div class="work-type-section plans-author">
                                <h2><span>{{::vm.person.name}}.</span> <span>Планы автора</span><span class='rating-title'>Рейтинг</span></h2>
                                <ul class="works-list">
                                    <personwork ng-repeat="work in vm.person.worksinplans" data-work="work" data-worktype="vm.worktypes[work.worktypelevel]" data-level="1"></personwork>
                                </ul>
                            </div>
                            <div ng-repeat="worktype in vm.person.works" class="work-type-section">
                                <h2><span>{{::vm.person.name}}.</span> <span>{{ ::vm.worktypes[worktype[0].worktypelevel].name }}</span><span class='rating-title'>Рейтинг</span></h2>
                                <ul class="works-list {{vm.worktypes[worktype[0].worktypelevel].isnode ? 'worktypenode' : 'worktypeplain'}}">
                                    <personwork ng-repeat="work in worktype | orderBy:vm.orderByDefinition" data-work="work" data-worktype="vm.worktypes[work.worktypelevel]" data-level="1"></personwork>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</section>
