<section class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="widget wviolet">
                    <div ht-widget-header title="{{vm.title}}"></div>
                    <div class="widget-content user">
                        <table class="work-info">
                            <tr>
                                <td>Id:</td>
                                <td>{{vm.person.person_id}}</td>
                            </tr>
                            <tr>
                                <td>Имя:</td>
                                <td>{{vm.person.name}}</td>
                            </tr>
                            <tr>
                                <td>Пол:</td>
                                <td>{{vm.person.gender}}</td>
                            </tr>
                            <tr>
                                <td>Дата рождения:</td>
                                <td>{{vm.person.birthdate}}</td>
                            </tr>
                            <tr>
                                <td>Страна:</td>
                                <td>{{vm.countries[vm.person.country_id]}}</td>
                            </tr>
                            <tr>
                                <td>Биография:</td>
                                <td>{{vm.person.biography}}</td>
                            </tr>
                            <tr>
                                <td>Примечания:</td>
                                <td>{{vm.person.notes}}</td>
                            </tr>
                        </table>
                        <hr />
                        <ul ng-repeat="worktype in vm.person.works">
                            Work Type: 
                            <li ng-repeat="work in worktype">
                                <span ng-if="work.year > 0">{{ work.year }}</span>
                                <span ng-if="!work.year">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                <a ng-if="work.rus_name.length > 0" ui-sref="worksview({ workId: work.work_id })">{{ work.rus_name }}</a>
                                <span ng-if="work.rus_name.length > 0 && work.name.length > 0"> / </span>
                                <a ng-if="work.name.length > 0">{{ work.name }}</a>
                                <span ng-if="work.alt_name">[= {{ work.alt_name }}]</span>
                                <span ng-if="work.persons.length > 0">
                                    <span>Соавторы:</span>
                                    <span ng-repeat="person in work.persons">
                                        {{person.name}}{{$last ? '' : ', '}}
                                    </span>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
